<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section class="category-n-profile">
  <div class="category-container">
    <%= form_with url: clients_profile_path, method: :get, local: true, class: 'form-category-container' do %>
      <%= button_tag t('clients.profiles.profile'), type: 'submit', name: 'tab', value: 'personal', class: 'single-category-btn' %>
      <%= button_tag t('clients.profiles.card'), type: 'submit', name: 'tab', value: 'card', class: 'single-category-btn' %>
      <%= button_tag t('clients.profiles.borrow'), type: 'submit', name: 'tab', value: 'borrow', class: 'single-category-btn' %>
      <%= button_tag t('clients.profiles.review'), type: 'submit', name: 'tab', value: 'review', class: 'single-category-btn' %>
    <% end %>
  </div>

  <div class="profile-container">
    <% if @tab == 'personal' %>
      <%= form_with model: current_client, url: clients_profile_path, method: :patch do |form| %>
        <div class="form-group">
          <%= form.label :surname, t('clients.registrations.new.surname') %>
          <%= form.text_field :surname, class: 'form-control', value: current_client.surname %>
        </div>
        <div class="form-group">
          <%= form.label :name, t('clients.registrations.new.name') %>
          <%= form.text_field :name, class: 'form-control', value: current_client.name %>
        </div>
        <div class="form-group">
          <%= form.label :midname, t('clients.registrations.new.mid_name') %>
          <%= form.text_field :midname, class: 'form-control', value: current_client.midname %>
        </div>
        <div class="form-group">
          <%= form.label :phone, t('clients.registrations.new.phone') %>
          <%= form.text_field :phone, class: 'form-control', value: current_client.phone %>
        </div>
        <div class="form-group">
          <%= form.label :email, 'Email' %>
          <%= form.email_field :email, class: 'form-control', value: current_client.email %>
        </div>
        <div class="button-personal-container">
          <%= form.submit t('clients.profiles.save'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% elsif @tab == 'card' %>
      <% if @library_card.persisted? %>
        <div class="library-card-info">
          <div class="form-group">
            <h2 class="card-group-title"><%= t('clients.profiles.card_create_date') %></h2>
            <p class="card-group-info" id="card-group-info-id"><%= @library_card.created_at.strftime("%d-%m-%Y") %></p>
          </div>
          <div class="form-group">
            <h2 class="card-group-title"><%= t('clients.profiles.card_max_borrow') %></h2>
            <p class="card-group-info" id="card-group-info-id"><%= @library_card.max_borrow_allowed %></p>
          </div>
          <div class="button-personal-container">
            <h2>
              <%= t('clients.profiles.card_current_borrow') %>: <%= @library_card.active_borrowed_books_count %>/<%= @library_card.max_borrow_allowed %>
            </h2>
          </div>
        </div>
      <% else %>
        <%= form_with model: @library_card, url: library_cards_path, method: :post do |form| %>
          <h1 class="create-card-title"><%= t('clients.profiles.create_card_title') %></h1>
          <%= form.hidden_field :client_id, value: current_client.id %>
          <div class="form-group">
            <%= form.label :max_borrow_allowed, t('clients.profiles.create_card_max_borrow') %>
            <%= form.number_field :max_borrow_allowed, class: 'form-control', min: 1, max: 15 %>
          </div>
          <div class="button-personal-container">
            <%= form.submit t('clients.profiles.create_card_btn'), class: 'btn btn-primary', id: 'create-card' %>
          </div>
        <% end %>
      <% end %>
    <% elsif @tab == 'borrow' %>
      <% @borrowed_books.each do |borrowed_book| %>
        <div class="single-borrowed-book" data-borrowed-book-id="<%= borrowed_book.id %>">
          <div class="single-borrowed-book-header">
            <h2 class="single-borrowed-book-header-title"><%= t('clients.profiles.borrowed_book_id') %> №<%= borrowed_book.id %></h2>
            <div class="single-borrowed-book-header-btn-container">
              <button class="write-review"><%= t('clients.profiles.write_review_btn') %></button>
              <% if borrowed_book.status != 'Повернено' %>
                <button class="return-book"><%= t('clients.profiles.return_book_btn') %></button>
              <% end %>
            </div>
          </div>

          <div class="single-borrowed-book-body">
            <div class="single-borrowed-book-labels">
              <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_book') %><br>⠀</p>
              <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_date_took') %></p>
              <% if borrowed_book.status != 'Повернено' %>
                <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_date_took_to') %></p>
              <% else %>
                <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_date_return') %></p>
              <% end %>
              <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_status') %></p>
            </div>

            <div class="single-borrowed-book-infos">
              <p class="single-borrowed-book-info">
                <%= borrowed_book.book.authors.map(&:full_name).join(', ') %>, "<%= borrowed_book.book.book_title %>"<br>
                <%= borrowed_book.book.book_year_of_pub %>, <%= borrowed_book.book.publisher.publisher_name %>⠀
              </p>
              <p class="single-borrowed-book-info"><%= borrowed_book.date_borrowed.strftime("%d-%m-%Y") %></p>
              <p class="single-borrowed-book-info"><%= borrowed_book.date_due.strftime("%d-%m-%Y") %></p>
              <p class="single-borrowed-book-info"><%= borrowed_book.status %></p>
            </div>
          </div>
        </div>
      <% end %>

      <style>
          .single-borrowed-book-body {
              display: none;
          }
      </style>

    <% elsif @tab == 'review' %>

    <% end %>
  </div>
</section>

<script>
    function toggleBookBody() {
        var body = $(this).closest('.single-borrowed-book').find('.single-borrowed-book-body');

        if (body.is(':visible')) {
            body.slideUp(function() {
                body.css('display', 'none');
            });
        } else {
            body.css('display', 'flex').hide().slideDown();
        }
    }

    function initializeEventHandlers() {
        $(document).on('click', '.single-borrowed-book-header-title', toggleBookBody);

        $(document).on('click', '.single-borrowed-book .return-book', function() {
            var borrowedBookId = $(this).closest('.single-borrowed-book').data('borrowed-book-id');

            $.ajax({
                url: '/borrowed_books/' + borrowedBookId + '/return_book',
                method: 'PATCH',
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                },
                success: function(response) {
                    if (response.success) {
                        $('.single-borrowed-book[data-borrowed-book-id="' + borrowedBookId + '"] .return-book').hide();
                    } else {
                    }
                },
                error: function(xhr, status, error) {
                    alert('Сталася помилка: ' + error);
                }
            });
        });

        $(document).on('submit', 'form[data-remote="true"]', function (e) {
            e.preventDefault();

            var form = $(this);
            var url = form.attr('action');
            var method = form.attr('method');
            var data = form.serialize();

            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (response) {
                    alert('Дані успішно оновлено');
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Дані не було оновлено');
                    window.location.reload();
                }
            });
        });
    }

    document.addEventListener('turbo:frame-load', function () {
        initializeEventHandlers();
    });

    document.addEventListener('DOMContentLoaded', function () {
        initializeEventHandlers();
    });
</script>
