<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section class="category-n-profile">
  <div class="category-container">
    <%= form_with url: clients_profile_path, method: :get, local: true, class: 'form-category-container' do %>
      <%= button_tag t('clients.profiles.profile'), type: 'submit', name: 'tab', value: 'personal', class: 'single-category-btn' %>
      <%= button_tag t('clients.profiles.card'), type: 'submit', name: 'tab', value: 'card', class: 'single-category-btn' %>
      <%= button_tag t('clients.profiles.borrow'), type: 'submit', name: 'tab', value: 'borrow', class: 'single-category-btn' %>
      <%= button_tag t('clients.profiles.review'), type: 'submit', name: 'tab', value: 'review', class: 'single-category-btn' %>
    <% end %>
  </div>

  <div class="profile-container">
    <% if @tab == 'personal' %>
      <%= form_with model: current_client, url: clients_profile_path, method: :patch do |form| %>
        <div class="form-group">
          <%= form.label :surname, t('clients.registrations.new.surname') %>
          <%= form.text_field :surname, class: 'form-control', value: current_client.surname %>
        </div>
        <div class="form-group">
          <%= form.label :name, t('clients.registrations.new.name') %>
          <%= form.text_field :name, class: 'form-control', value: current_client.name %>
        </div>
        <div class="form-group">
          <%= form.label :midname, t('clients.registrations.new.mid_name') %>
          <%= form.text_field :midname, class: 'form-control', value: current_client.midname %>
        </div>
        <div class="form-group">
          <%= form.label :phone, t('clients.registrations.new.phone') %>
          <%= form.text_field :phone, class: 'form-control', value: current_client.phone %>
        </div>
        <div class="form-group">
          <%= form.label :email, 'Email' %>
          <%= form.email_field :email, class: 'form-control', value: current_client.email %>
        </div>
        <div class="button-personal-container">
          <%= form.submit t('clients.profiles.save'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% elsif @tab == 'card' %>
      <% if @library_card.persisted? %>
        <div class="library-card-info">
          <div class="form-group">
            <h2 class="card-group-title"><%= t('clients.profiles.card_create_date') %></h2>
            <p class="card-group-info" id="card-group-info-id"><%= @library_card.created_at.strftime("%d.%m.%Y") %></p>
          </div>
          <div class="form-group">
            <h2 class="card-group-title"><%= t('clients.profiles.card_max_borrow') %></h2>
            <p class="card-group-info" id="card-group-info-id"><%= @library_card.max_borrow_allowed %></p>
          </div>
          <div class="button-personal-container">
            <h2>
              <%= t('clients.profiles.card_current_borrow') %>: <%= @library_card.active_borrowed_books_count %>
              /<%= @library_card.max_borrow_allowed %>
            </h2>
          </div>
        </div>
      <% else %>
        <%= form_with model: @library_card, url: library_cards_path, method: :post do |form| %>
          <h1 class="create-card-title"><%= t('clients.profiles.create_card_title') %></h1>
          <%= form.hidden_field :client_id, value: current_client.id %>
          <%= form.hidden_field :max_reserve_allowed, value: 1 %>
          <div class="form-group">
            <%= form.label :max_borrow_allowed, t('clients.profiles.create_card_max_borrow') %>
            <%= form.number_field :max_borrow_allowed, class: 'form-control', min: 1, max: 15 %>
          </div>
          <div class="button-personal-container">
            <%= form.submit t('clients.profiles.create_card_btn'), class: 'btn btn-primary', id: 'create-card' %>
          </div>
        <% end %>
      <% end %>
    <% elsif @tab == 'borrow' %>
      <% if current_client.library_card.present? %>
        <% if @borrowed_books.any? %>
          <% @borrowed_books.each do |borrowed_book| %>
            <div class="single-borrowed-book" data-borrowed-book-id="<%= borrowed_book.id %>">
              <div class="single-borrowed-book-header">
                <h2 class="single-borrowed-book-header-title"><%= t('clients.profiles.borrowed_book_id') %>
                  №<%= borrowed_book.id %></h2>
                <div class="single-borrowed-book-header-btn-container">

                  <% unless @user_reviews.include?(borrowed_book.book.id) %>
                  <button class="write-review" data-book-id="<%=  borrowed_book.book.id  %>"><%=  t('clients.profiles.write_review_btn')  %></button>
                  <%  end %>

                  <% if borrowed_book.status != 'Повернено' %>
                    <%= button_to t('clients.profiles.return_book_btn'), return_book_borrowed_book_path(borrowed_book), method: :patch, class: 'return-book' %>
                  <% end %>
                </div>
              </div>

              <div class="single-borrowed-book-body">
                <div class="single-borrowed-book-labels">
                  <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_book') %><br>⠀</p>
                  <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_date_took') %></p>
                  <% if borrowed_book.status != 'Повернено' %>
                    <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_date_took_to') %></p>
                  <% else %>
                    <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_date_return') %></p>
                  <% end %>
                  <p class="single-borrowed-book-label"><%= t('clients.profiles.borrowed_status') %></p>
                </div>

                <div class="single-borrowed-book-infos">
                  <p class="single-borrowed-book-info">
                    <%= borrowed_book.book.authors.map(&:full_name).join(', ') %>, "<%= borrowed_book.book.book_title %>"
                    <br>
                    <%= borrowed_book.book.book_year_of_pub %>, <%= borrowed_book.book.publisher.publisher_name %>⠀
                  </p>
                  <p class="single-borrowed-book-info"><%= borrowed_book.date_borrowed.strftime("%d.%m.%Y") %></p>
                  <p class="single-borrowed-book-info"><%= borrowed_book.date_due.strftime("%d.%m.%Y") %></p>
                  <p class="single-borrowed-book-info"><%= borrowed_book.status %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="you-did-not-have">
            <h2 id="you-did-not-have-title-id"><%= t('clients.profiles.no_borrows') %></h2>
          </div>
        <% end %>
      <% else %>
        <div class="you-did-not-have">
          <h2 id="you-did-not-have-title-id"><%= t('clients.profiles.need_card_to_borrow') %></h2>
        </div>
      <% end %>

      <style>
          .single-borrowed-book-body {
              display: none;
          }
      </style>

      <script>
          document.addEventListener('turbo:load', function () {
              function toggleBookBody() {
                  var body = $(this).closest('.single-borrowed-book').find('.single-borrowed-book-body');
                  if (body.is(':visible')) {
                      body.slideUp(function () {
                          body.css('display', 'none');
                      });
                  } else {
                      body.css('display', 'flex').hide().slideDown();
                  }
              }

              function initializeEventHandlers() {
                  $('.single-borrowed-book-header-title').off('click').on('click', toggleBookBody);
              }

              initializeEventHandlers();
          });

          document.addEventListener('DOMContentLoaded', function () {
              function toggleBookBody() {
                  var body = $(this).closest('.single-borrowed-book').find('.single-borrowed-book-body');
                  if (body.is(':visible')) {
                      body.slideUp(function () {
                          body.css('display', 'none');
                      });
                  } else {
                      body.css('display', 'flex').hide().slideDown();
                  }
              }

              function initializeEventHandlers() {
                  $('.single-borrowed-book-header-title').off('click').on('click', toggleBookBody);
              }

              initializeEventHandlers();
          });
      </script>

    <% elsif @tab == 'review' %>
      <% if current_client.library_card.present? %>
        <% if @reviews.any? %>
          <% @reviews.each do |review| %>
            <div class="single-review">
              <div class="single-review-header">
                <h2 class="single-review-header-title"><%= t('clients.profiles.review') %> №<%= review.id %></h2>
                <div class="single-review-header-btn-container">
                  <%= button_to t('clients.profiles.delete_review_btn'), book_review_path(review), method: :delete, class: 'btn btn-danger delete-review' %>
                </div>
              </div>

              <div class="single-review-body">
                <div class="single-review-simple-data">
                  <div class="single-review-simple-data-labels">
                    <p class="single-review-simple-data-label"><%= t('clients.profiles.borrowed_book') %><br>⠀</p>
                    <p class="single-review-simple-data-label"><%= t('clients.profiles.review_date') %></p>
                    <p class="single-review-simple-data-label"><%= t('clients.profiles.review_rating') %></p>
                  </div>
                  <div class="single-review-simple-data-infos">
                    <p class="single-review-simple-data-info">
                      <%= review.book.authors.map(&:full_name).join(', ') %>, "<%= review.book.book_title %>"
                      <br>
                      <%= review.book.book_year_of_pub %>, <%= review.book.publisher.publisher_name %>
                    </p>
                    <p class="single-review-simple-data-info"><%= review.created_at.strftime("%d.%m.%Y") %></p>
                    <p class="single-review-simple-data-info"><%= review.rating_value %>/5</p>
                  </div>
                </div>
                <div class="single-review-text">
                  <p class="single-review-text-field"><%= review.review_text %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="you-did-not-have">
            <h2 id="you-did-not-have-title-id"><%= t('clients.profiles.no_reviews') %></h2>
          </div>
        <% end %>
      <% else %>
        <div class="you-did-not-have">
          <h2 id="you-did-not-have-title-id"><%= t('clients.profiles.need_card_to_review') %></h2>
        </div>
      <% end %>

      <style>
          .single-review-body {
              display: none;
          }
      </style>

      <script>
          document.addEventListener('turbo:load', function () {
              function toggleBookBody() {
                  var body = $(this).closest('.single-review').find('.single-review-body');
                  if (body.is(':visible')) {
                      body.slideUp(function () {
                          body.css('display', 'none');
                      });
                  } else {
                      body.css('display', 'grid').hide().slideDown();
                  }
              }

              function initializeEventHandlers() {
                  $('.single-review-header-title').off('click').on('click', toggleBookBody);
              }

              initializeEventHandlers();
          });

          document.addEventListener('DOMContentLoaded', function () {
              function toggleBookBody() {
                  var body = $(this).closest('.single-review').find('.single-review-body');
                  if (body.is(':visible')) {
                      body.slideUp(function () {
                          body.css('display', 'none');
                      });
                  } else {
                      body.css('display', 'grid').hide().slideDown();
                  }
              }

              function initializeEventHandlers() {
                  $('.single-review-header-title').off('click').on('click', toggleBookBody);
              }

              initializeEventHandlers();
          });
      </script>

    <% end %>
  </div>
</section>

<div id="reviewModalTwo" class="modal">
  <div class="modal-two-content">
    <span class="close">&times;</span>
    <%= render "form", book_review: @book_review %>
  </div>
  <script>
      document.addEventListener('turbo:load', function () {
          var modal = document.getElementById("reviewModalTwo");
          var spans = document.querySelectorAll(".close");
          var btns = document.querySelectorAll(".write-review");

          btns.forEach(function (btn) {
              btn.onclick = function () {
                  var bookId = this.getAttribute('data-book-id');

                  var form_book_review = modal.querySelector('.form-book-review');
                  var bookIdField = form_book_review.querySelector('input[name="book_review[book_id]"]');
                  bookIdField.value = bookId;

                  modal.style.display = "block";
              }
          });

          spans.forEach(function (span) {
              span.onclick = function () {
                  modal.style.display = "none";

                  var selectedRatingButton = document.querySelector('.rating-buttons .rating-button.selected');
                  if (selectedRatingButton) {
                      selectedRatingButton.classList.remove('selected');
                  }
                  var reviewTextField = document.querySelector('.review-text');
                  if (reviewTextField) {
                      reviewTextField.value = '';
                  }
              }
          });
      });
  </script>
</div>