<div id="<%= dom_id borrowed_book %>">
  <p>
    <strong>Book:</strong>
    <%= borrowed_book.book_id %>
  </p>

  <p>
    <strong>Library card:</strong>
    <%= borrowed_book.library_card_id %>
  </p>

  <p>
    <strong>Date borrowed:</strong>
    <%= borrowed_book.date_borrowed %>
  </p>

  <p>
    <strong>Date due:</strong>
    <%= borrowed_book.date_due %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= borrowed_book.status %>
  </p>

</div>
