<div class="section-reg">
  <div class="section-reg__wrapper">
    <h1 class="section-reg__h1"><%= t('shared.header.registration') %></h1>
    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), class: "section-reg__form") do |f| %>
      <div><%= f.text_field :surname, placeholder: t('.surname'), class: "form__input", required: true %></div>
      <div><%= f.text_field :name, placeholder: t('.name'), class: "form__input", required: true %></div>
      <div><%= f.text_field :midname, placeholder: t('.mid_name'), class: "form__input" %></div>
      <div><%= f.email_field :email, placeholder: "Email", class: "form__input", required: true %></div>
      <div><%= f.text_field :phone, placeholder: t('.phone'), class: "form__input", required: true %></div>
      <div><%= f.password_field :password, placeholder: t('.pass'), class: "form__input", required: true %></div>
      <div><%= f.submit t('.register'), class: "button form__btn" %></div>
    <% end %>
  </div>
</div>