<div id="<%= dom_id book %>">
  <p>
    <strong>Book title:</strong>
    <%= book.book_title %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher_id %>
  </p>

  <p>
    <strong>Book year of pub:</strong>
    <%= book.book_year_of_pub %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Book amount:</strong>
    <%= book.book_amount %>
  </p>

  <p>
    <strong>Book age rating:</strong>
    <%= book.book_age_rating %>
  </p>

  <p>
    <strong>Book rating:</strong>
    <%= book.book_rating %>
  </p>

</div>
