<section class="section-books">
  <div class="section-books__wrapper">
    <div class="books-filters">
      <%= form_with(url: books_path, method: :get, local: true, class: 'books-filters-form') do %>
        <ul class="books-filters__menu">
          <!-- Genres filter -->
          <li class="books-filters__item">
            <span class="filter-title" data-filter="genres"><%= t('books.index.genres') %></span>
            <ul class="books-dropdown genres-dropdown">
              <% Genre.all.each do |genre| %>
                <li class="books-dropdown__item">
                  <label>
                    <input type="checkbox" name="genres[]" value="<%= genre.id %>" <%= 'checked' if params[:genres]&.include?(genre.id.to_s) %>>
                    <%= genre.genre_name %>
                  </label>
                </li>
              <% end %>
            </ul>
          </li>

          <!-- Publishers filter -->
          <li class="books-filters__item">
            <span class="filter-title" data-filter="publishers"><%= t('books.index.publishers') %></span>
            <ul class="books-dropdown publishers-dropdown">
              <% Publisher.all.each do |publisher| %>
                <li class="books-dropdown__item">
                  <label>
                    <input type="checkbox" name="publishers[]" value="<%= publisher.id %>" <%= 'checked' if params[:publishers]&.include?(publisher.id.to_s) %>>
                    <%= publisher.publisher_name %>
                  </label>
                </li>
              <% end %>
            </ul>
          </li>

          <!-- Authors filter -->
          <li class="books-filters__item">
            <span class="filter-title" data-filter="authors"><%= t('books.index.authors') %></span>
            <ul class="books-dropdown authors-dropdown">
              <% Author.all.each do |author| %>
                <li class="books-dropdown__item">
                  <label>
                    <input type="checkbox" name="authors[]" value="<%= author.id %>" <%= 'checked' if params[:authors]&.include?(author.id.to_s) %>>
                    <%= author.full_name %>
                  </label>
                </li>
              <% end %>
            </ul>
          </li>

          <!-- Publish Year filter -->
          <li class="books-filters__item">
            <span class="filter-title" data-filter="publish_year"><%= t('books.index.publish_year') %></span>
            <ul class="books-dropdown publish_year-dropdown">
              <% @unique_publish_years.each do |year| %>
                <li class="books-dropdown__item">
                  <label>
                    <input type="checkbox" name="publish_year[]" value="<%= year %>" <%= 'checked' if params[:publish_year]&.include?(year.to_s) %>>
                    <%= year %>
                  </label>
                </li>
              <% end %>
            </ul>
          </li>

          <!-- Age Rating filter -->
          <li class="books-filters__item">
            <span class="filter-title" data-filter="age_rating"><%= t('books.index.age_rating') %></span>
            <ul class="books-dropdown age_rating-dropdown">
              <% @unique_age_ratings.each do |rating| %>
                <li class="books-dropdown__item">
                  <label>
                    <input type="checkbox" name="age_rating[]" value="<%= rating %>" <%= 'checked' if params[:age_rating]&.include?(rating) %>>
                    <%= rating %>
                  </label>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>

        <div class="books-filters-buttons">
          <button type="submit" class="apply-filters"><%= t('books.index.apply_filters') %></button>
          <a href="<%= books_path %>" class="reset-filters"><%= t('books.index.reset_filters') %></a>
        </div>
      <% end %>
    </div>

    <style>
        .books-dropdown {
            display: none;
        }
    </style>

    <script>
        function toggleDropdown() {
            const filter = this.getAttribute('data-filter');
            const dropdown = document.querySelector(`.${filter}-dropdown`);

            document.querySelectorAll('.books-dropdown').forEach(list => {
                if (list !== dropdown) {
                    list.style.display = 'none';
                }
            });

            if (dropdown.style.display === 'block') {
                dropdown.style.display = 'none';
            } else {
                dropdown.style.display = 'block';
            }
        }

        function initializeEventHandlers() {
            document.querySelectorAll('.filter-title').forEach(title => {
                title.removeEventListener('click', toggleDropdown);
                title.addEventListener('click', toggleDropdown);
            });
        }

        document.addEventListener('turbo:load', initializeEventHandlers);
        document.addEventListener('turbo:render', initializeEventHandlers);
        document.addEventListener('DOMContentLoaded', initializeEventHandlers);
    </script>

    <div class="books-list">
      <div class="books-sorts">
        <ul class="books-sorts__menu">
          <li class="books-sort__link">
            <%= link_to t('books.index.sort_by_rating'), books_path(sort: 'book_rating',
                                   direction: params[:direction] == 'asc' ? 'desc' : 'asc',
                                   genres: params[:genres], publishers: params[:publishers],
                                   authors: params[:authors], publish_year: params[:publish_year],
                                   age_rating: params[:age_rating]), class: 'sort-link' %>
          </li>
          <li class="books-sort__link">
            <%= link_to t('books.index.sort_by_popularity'), books_path(sort: 'book_popularity',
                                                                        direction: params[:direction] == 'asc' ? 'desc' : 'asc',
                                                                        genres: params[:genres], publishers: params[:publishers],
                                                                        authors: params[:authors], publish_year: params[:publish_year],
                                                                        age_rating: params[:age_rating]), class: 'sort-link' %>
          </li>
          <li class="books-sort__link">
            <%= link_to t('books.index.sort_by_date'), books_path(sort: 'created_at',
                                                                  direction: params[:direction] == 'asc' ? 'desc' : 'asc',
                                                                  genres: params[:genres], publishers: params[:publishers],
                                                                  authors: params[:authors], publish_year: params[:publish_year],
                                                                  age_rating: params[:age_rating]), class: 'sort-link' %>
          </li>
<!--          <li class="books-sort__link">-->
            <%#= link_to t('books.index.sort_by_rating'), books_path(sort: 'book_rating', direction: params[:direction] == 'asc' ? 'desc' : 'asc'), class: 'sort-link' %>
<!--          </li>-->
<!--          <li class="books-sort__link">-->
            <%#= link_to t('books.index.sort_by_popularity'), books_path(sort: 'book_popularity', direction: params[:direction] == 'asc' ? 'desc' : 'asc'), class: 'sort-link' %>
<!--          </li>-->
<!--          <li class="books-sort__link">-->
            <%#= link_to t('books.index.sort_by_date'), books_path(sort: 'created_at', direction: params[:direction] == 'asc' ? 'desc' : 'asc'), class: 'sort-link' %>
<!--          </li>-->
        </ul>
      </div>
      <div class="books-list-grid">
        <% @books.each do |book| %>
          <%= link_to book_path(book), class: 'books-list__link' do %>
            <div class="books-list-grid__item">
              <div class="grid-item__top">
                <div class="books-list-grid__image">
                  <%= image_tag(book.book_image, class: 'image-grid') if book.book_image.attached? %>
                </div>
                <div class="books-list-grid__title"><%= truncate(book.book_title, length: 25) %></div>
                <div class="books-list-grid__authors"><%= book.authors.map(&:full_name).join(', ') %></div>
              </div>
              <div class="grid-item__bottom"><%= t('home.available') %> <%= book.book_amount %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>