<section class="section-books">
  <div class="section-books__wrapper">
    <div class="books-filters">
      <ul class="books-filters__menu">
        <li class="books-filters__item"><%= t('books.index.genres') %></li>
        <li class="books-filters__item"><%= t('books.index.publishers') %></li>
        <li class="books-filters__item"><%= t('books.index.authors') %></li>
        <li class="books-filters__item"><%= t('books.index.publish_year') %></li>
        <li class="books-filters__item"><%= t('books.index.age_rating') %></li>
      </ul>
    </div>
    <div class="books-list">
      <div class="books-sorts">
        <ul class="books-sorts__menu">
          <li class="books-sort__link"><%= link_to t('books.index.sort_by_rating'), '#' %></li>
          <li class="books-sort__link"><%= link_to t('books.index.sort_by_popularity'), '#' %></li>
          <li class="books-sort__link"><%= link_to t('books.index.sort_by_date'), '#' %></li>
        </ul>
      </div>
      <div class="books-list-grid">
        <% @books.each do |book| %>
          <%= link_to book_path(book), class: 'books-list__link' do %>
            <div class="books-list-grid__item">
              <div class="grid-item__top">
                <div class="books-list-grid__image">
                  <%= image_tag(book.book_image, class: 'image-grid') if book.book_image.attached? %>
                </div>
                <div class="books-list-grid__title"><%= truncate(book.book_title, length: 25) %></div>
                <div class="books-list-grid__authors"><%= book.authors.map(&:full_name).join(', ') %></div>
              </div>
              <div class="grid-item__bottom"><%= t('home.available') %> <%= book.book_amount %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>