<section class="section-book">
  <div class="book-container">
    <div class="book-image">
      <%= image_tag(@book.book_image, class: 'book-image-main') if @book.book_image.attached? %>
    </div>
    <div class="book-description">
      <div class="book-description__title">
        <h1 class="book__h1"><%= @book.book_title %></h1>
        <p class="book__authors"><%= @book.authors.map(&:full_name).join(', ') %></p>
        <div class="book__ratings">
          <div class="book__ratings-image"><%= t('books.show.rating') %>: <%= @book.book_rating || 0 %>/5.0 <%= image_tag 'book/star', alt: 'star', class: 'star-image' %></div>
          <div>(<%= t('books.show.reviews') %>: <%= @book.book_reviews.count %>)</div>
        </div>
      </div>
      <div class="book-description__genre">
        <div class="book-description__genre-top">
          <div class="description-list-container">
            <span class="description-title"><%= t('books.show.publisher') %></span>
            <span class="book-description-text"><%= @book.publisher.publisher_name %></span>
          </div>
          <div class="description-list-container">
            <span class="description-title"><%= t('books.show.publish_year') %></span>
            <span class="book-description-text"><%= @book.book_year_of_pub %> рік</span>
          </div>
          <div class="description-list-container">
            <span class="description-title">ISBN</span>
            <span class="book-description-text"><%= @book.isbn %></span>
          </div>
          <div class="description-list-container">
            <span class="description-title"><%= t('books.show.age') %></span>
            <span class="book-description-text"><%= @book.book_age_rating %></span>
          </div>
          <div class="description-list-container">
            <span class="description-title"><%= t('books.show.avail') %></span>
            <span class="book-description-text"><%= @book.book_amount %></span>
          </div>
        </div>
        <div class="description-list-container">
          <div>
            <span class="description-title"><%= t('books.show.genres') %></span>
          </div>
          <div class="list-genre">
            <% @book.genres.each do |genre| %>
              <span class="book-description-text"><%= genre.genre_name %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="book-description__reserve">
        <% if current_client.present? %>
          <% if @book.book_amount == 0 %>
            <p><%= t('books.show.no_avail_books') %></p>
          <% else %>
            <% if current_client.library_card.present? %>
              <% unless @has_active_borrow %>
                <button class="button button-reserve" id="openBorrowModal"><%= t('books.show.borrow') %></button>
              <% end %>
            <% else %>
              <p><%= t('books.show.no_lib_card') %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="book-description__annotation">
        <%= t('books.show.description') %>
        <div class="book-annotation-text">
          <%= @book.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="book-comments">
    <h2 class="book-comments__h2"><%= t('books.show.reviews_upper') %></h2>
    <div class="book-comments__body">
      <% @book.book_reviews.each do |book_review| %>
        <div class="book-comments__item">
          <p class="book-comments__client"><%= book_review.library_card.client.sur_name %></p>
          <p class="book-comments__date"><%= book_review.created_at.strftime("%d.%m.%Y") %></p>
          <div class="book-comments__text">
            <%= book_review.review_text %>
          </div>
          <button class="button book-comments__btn" onclick="showFullText(this)">Читати повністю</button>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script>
    window.showFullText = function(button) {
        let textDiv = button.previousElementSibling;
        if (textDiv.scrollHeight > 51) {
            button.style.display = "block";
            if (textDiv.style.overflow === "hidden") {
                textDiv.style.maxHeight = "none";
                textDiv.style.overflow = "auto";
                button.textContent = "Приховати";
            } else {
                textDiv.style.overflow = "hidden";
                textDiv.style.maxHeight = "51px";
                button.textContent = "Читати повністю";
            }
        } else {
            button.style.display = "none";
        }
    }

    document.querySelectorAll('.book-comments__btn').forEach(button => {
        showFullText(button);
    });
</script>

<% if current_client.present? && current_client.library_card.present? %>
  <div id="borrowModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <%= form_with(model: BorrowedBook.new, url: borrowed_books_path, method: :post, local: true) do |form| %>
        <%= form.hidden_field :book_id, value: @book.id %>
        <%= form.hidden_field :library_card_id, value: current_client.library_card.id %>
        <%= form.hidden_field :date_borrowed, value: Date.today %>
        <div class="single-div-container">
          <%= form.label :date_due, t('books.show.date_of_return') %>
          <%= form.date_field :date_due, min: Date.today, max: Date.today + 30.days, required: true %>
        </div>
        <%= form.hidden_field :status, value: 'Активно' %>
        <div class="single-btn-container">
          <%= form.submit t('books.show.borrow'), class: 'button button-reserve' %>
        </div>
      <% end %>
    </div>
  </div>

  <script>
      document.addEventListener('turbo:load', function () {
          var modal = document.getElementById('borrowModal');
          var btn = document.getElementById('openBorrowModal');
          var span = document.getElementsByClassName('close')[0];
          var maxBorrowAllowed = <%= current_client.library_card.max_borrow_allowed %>;
          var activeBorrowedBooksCount = <%= current_client.library_card.active_borrowed_books_count %>;

          if (btn) {
              btn.onclick = function() {
                  if (activeBorrowedBooksCount >= maxBorrowAllowed) {
                      alert('Ви досягли ліміту запозичень.');
                  } else {
                      modal.style.display = 'block';
                  }
              }
          }

          if (span) {
              span.onclick = function() {
                  modal.style.display = 'none';
              }
          }

          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = 'none';
              }
          }
      });
  </script>
<% end %>
