<div id="<%= dom_id reservation %>">
  <p>
    <strong>Book:</strong>
    <%= reservation.book_id %>
  </p>

  <p>
    <strong>Library card:</strong>
    <%= reservation.library_card_id %>
  </p>

  <p>
    <strong>Date of reservation:</strong>
    <%= reservation.date_of_reservation %>
  </p>

  <p>
    <strong>Requested days:</strong>
    <%= reservation.requested_days %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

</div>
